@import "tailwindcss" source(none);
@import "@resolid/react-ui/tailwindcss";

@plugin "@tailwindcss/typography";

@source "../src";
@source "../.resolid/component-demo";

/*noinspection CssUnresolvedCustomProperty*/
.shiki,
.shiki span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

/*noinspection CssUnresolvedCustomProperty*/
.dark-mode .shiki,
.dark-mode .shiki span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}
