@source "../src";
@source "../dist";

@variant dark (&:where(.dark, .dark *));

/*noinspection CssInvalidImport*/
@import "./plugins/scrollbar.css" layer(components);

@theme {
  --font-sans: apple-system, BlinkMacSystemFont, "Segoe UI", "SNoto Sans", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  --font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;

  --breakpoint-*: initial;
  --breakpoint-sm: 40em;
  --breakpoint-md: 48em;
  --breakpoint-lg: 64em;
  --breakpoint-xl: 80em;

  --text-*: initial;
  --text-xs: 0.813rem;
  --text-xs--line-height: calc(1 / 0.813);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);

  --font-weight-*: initial;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  --radius-*: initial;
  --radius-none: 0;
  --radius-xs: 0.125rem;
  --radius-sm: 0.188rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.375rem;
  --radius-xl: 0.5rem;
  --radius-full: 999rem;

  --container-*: initial;

  --shadow-2xs: initial;
  --shadow-2xl: initial;
  --inset-shadow-2xs: initial;
  --drop-shadow-2xl: initial;
  --blur-2xl: initial;
  --blur-3xl: initial;

  --color-*: initial;
  --color-black: #0c0d0e;
  --color-white: #ffffff;

  --color-gray-50: #f1f2f3;
  --color-gray-100: #e1e3e5;
  --color-gray-200: #c5c9ce;
  --color-gray-300: #a7adb4;
  --color-gray-400: #8b939c;
  --color-gray-500: #6e7781;
  --color-gray-600: #596069;
  --color-gray-700: #42474d;
  --color-gray-800: #2d3034;
  --color-gray-900: #151719;

  --color-blue-50: #e2effe;
  --color-blue-100: #c9e1fd;
  --color-blue-200: #93c3fb;
  --color-blue-300: #5da6f8;
  --color-blue-400: #2788f6;
  --color-blue-500: #0969da;
  --color-blue-600: #0756b0;
  --color-blue-700: #054184;
  --color-blue-800: #042b58;
  --color-blue-900: #02162c;

  --color-green-50: #e1f9e8;
  --color-green-100: #c4f3d1;
  --color-green-200: #88e7a3;
  --color-green-300: #4ddb75;
  --color-green-400: #26ba50;
  --color-green-500: #1a7f37;
  --color-green-600: #15662c;
  --color-green-700: #104c21;
  --color-green-800: #0a3316;
  --color-green-900: #05190b;

  --color-red-50: #fbe9ea;
  --color-red-100: #f7cfd1;
  --color-red-200: #f0a3a8;
  --color-red-300: #e8737b;
  --color-red-400: #e14751;
  --color-red-500: #cf222e;
  --color-red-600: #a61b25;
  --color-red-700: #7b141b;
  --color-red-800: #530e12;
  --color-red-900: #270609;

  --color-yellow-50: #fff3db;
  --color-yellow-100: #ffe7b8;
  --color-yellow-200: #ffcf70;
  --color-yellow-300: #ffb829;
  --color-yellow-400: #e09600;
  --color-yellow-500: #9a6700;
  --color-yellow-600: #7a5200;
  --color-yellow-700: #5c3d00;
  --color-yellow-800: #3d2900;
  --color-yellow-900: #1f1400;

  --color-purple-50: #f3eefc;
  --color-purple-100: #e6ddf9;
  --color-purple-200: #cebaf2;
  --color-purple-300: #b598ec;
  --color-purple-400: #9c75e6;
  --color-purple-500: #8250df;
  --color-purple-600: #6126cf;
  --color-purple-700: #491c9b;
  --color-purple-800: #311367;
  --color-purple-900: #180934;

  --color-fg-normal: var(--color-black);
  --color-fg-emphasized: var(--color-white);
  --color-fg-muted: var(--color-gray-600);
  --color-fg-subtle: var(--color-gray-500);
  --color-fg-subtlest: var(--color-gray-400);

  --color-fg-primary: var(--color-blue-500);
  --color-fg-primary-hovered: var(--color-blue-600);
  --color-fg-primary-pressed: var(--color-blue-700);
  --color-fg-primary-emphasized: var(--color-blue-50);

  --color-fg-secondary: var(--color-purple-500);
  --color-fg-secondary-hovered: var(--color-purple-600);
  --color-fg-secondary-pressed: var(--color-purple-700);
  --color-fg-secondary-emphasized: var(--color-purple-50);

  --color-fg-success: var(--color-green-500);
  --color-fg-success-hovered: var(--color-green-600);
  --color-fg-success-pressed: var(--color-green-700);
  --color-fg-success-emphasized: var(--color-green-50);

  --color-fg-warning: var(--color-yellow-500);
  --color-fg-warning-hovered: var(--color-yellow-600);
  --color-fg-warning-pressed: var(--color-yellow-700);
  --color-fg-warning-emphasized: var(--color-yellow-50);

  --color-fg-danger: var(--color-red-500);
  --color-fg-danger-hovered: var(--color-red-600);
  --color-fg-danger-pressed: var(--color-red-700);
  --color-fg-danger-emphasized: var(--color-red-50);

  --color-bg-normal: var(--color-white);
  --color-bg-emphasized: var(--color-black);
  --color-bg-muted: var(--color-gray-200);
  --color-bg-subtle: var(--color-gray-100);
  --color-bg-subtlest: var(--color-gray-50);

  --color-bg-primary: var(--color-blue-50);
  --color-bg-primary-hovered: var(--color-blue-100);
  --color-bg-primary-pressed: var(--color-blue-200);
  --color-bg-primary-emphasis: var(--color-blue-500);
  --color-bg-primary-emphasis-hovered: var(--color-blue-600);
  --color-bg-primary-emphasis-pressed: var(--color-blue-700);

  --color-bg-secondary: var(--color-purple-50);
  --color-bg-secondary-hovered: var(--color-purple-100);
  --color-bg-secondary-pressed: var(--color-purple-200);
  --color-bg-secondary-emphasis: var(--color-purple-500);
  --color-bg-secondary-emphasis-hovered: var(--color-purple-600);
  --color-bg-secondary-emphasis-pressed: var(--color-purple-700);

  --color-bg-neutral: var(--color-gray-50);
  --color-bg-neutral-hovered: var(--color-gray-100);
  --color-bg-neutral-pressed: var(--color-gray-200);
  --color-bg-neutral-emphasis: var(--color-gray-800);
  --color-bg-neutral-emphasis-hovered: var(--color-gray-900);
  --color-bg-neutral-emphasis-pressed: var(--color-black);

  --color-bg-success: var(--color-green-50);
  --color-bg-success-hovered: var(--color-green-100);
  --color-bg-success-pressed: var(--color-green-200);
  --color-bg-success-emphasis: var(--color-green-500);
  --color-bg-success-emphasis-hovered: var(--color-green-600);
  --color-bg-success-emphasis-pressed: var(--color-green-700);

  --color-bg-warning: var(--color-yellow-50);
  --color-bg-warning-hovered: var(--color-yellow-100);
  --color-bg-warning-pressed: var(--color-yellow-200);
  --color-bg-warning-emphasis: var(--color-yellow-500);
  --color-bg-warning-emphasis-hovered: var(--color-yellow-600);
  --color-bg-warning-emphasis-pressed: var(--color-yellow-700);

  --color-bg-danger: var(--color-red-50);
  --color-bg-danger-hovered: var(--color-red-100);
  --color-bg-danger-pressed: var(--color-red-200);
  --color-bg-danger-emphasis: var(--color-red-500);
  --color-bg-danger-emphasis-hovered: var(--color-red-600);
  --color-bg-danger-emphasis-pressed: var(--color-red-700);

  --color-bd-normal: var(--color-gray-200);
  --color-bd-subtle: var(--color-gray-100);
  --color-bd-hovered: var(--color-gray-300);
  --color-bd-invalid: var(--color-red-500);

  --color-link: var(--color-blue-500);
  --color-link-hovered: var(--color-blue-600);
  --color-link-pressed: var(--color-blue-700);
}

.dark {
  --color-fg-normal: var(--color-gray-200);
  --color-fg-emphasized: var(--color-black);
  --color-fg-muted: var(--color-gray-300);
  --color-fg-subtle: var(--color-gray-400);
  --color-fg-subtlest: var(--color-gray-500);

  --color-fg-primary: var(--color-blue-200);
  --color-fg-primary-hovered: var(--color-blue-300);
  --color-fg-primary-pressed: var(--color-blue-400);
  --color-fg-primary-emphasized: var(--color-blue-800);

  --color-fg-secondary: var(--color-purple-200);
  --color-fg-secondary-hovered: var(--color-purple-300);
  --color-fg-secondary-pressed: var(--color-purple-400);
  --color-fg-secondary-emphasized: var(--color-purple-800);

  --color-fg-success: var(--color-green-500);
  --color-fg-success-hovered: var(--color-green-600);
  --color-fg-success-pressed: var(--color-green-700);
  --color-fg-success-emphasized: var(--color-green-50);

  --color-fg-warning: var(--color-yellow-200);
  --color-fg-warning-hovered: var(--color-yellow-300);
  --color-fg-warning-pressed: var(--color-yellow-400);
  --color-fg-warning-emphasized: var(--color-yellow-800);

  --color-fg-danger: var(--color-red-200);
  --color-fg-danger-hovered: var(--color-red-300);
  --color-fg-danger-pressed: var(--color-red-400);
  --color-fg-danger-emphasized: var(--color-red-800);

  --color-bg-normal: var(--color-gray-900);
  --color-bg-emphasized: var(--color-white);
  --color-bg-muted: var(--color-gray-600);
  --color-bg-subtle: var(--color-gray-700);
  --color-bg-subtlest: var(--color-gray-800);

  --color-bg-primary: var(--color-blue-800);
  --color-bg-primary-hovered: var(--color-blue-700);
  --color-bg-primary-pressed: var(--color-blue-600);
  --color-bg-primary-emphasis: var(--color-blue-300);
  --color-bg-primary-emphasis-hovered: var(--color-blue-200);
  --color-bg-primary-emphasis-pressed: var(--color-blue-100);

  --color-bg-secondary: var(--color-purple-800);
  --color-bg-secondary-hovered: var(--color-purple-700);
  --color-bg-secondary-pressed: var(--color-purple-600);
  --color-bg-secondary-emphasis: var(--color-purple-300);
  --color-bg-secondary-emphasis-hovered: var(--color-purple-200);
  --color-bg-secondary-emphasis-pressed: var(--color-purple-100);

  --color-bg-neutral: var(--color-gray-800);
  --color-bg-neutral-hovered: var(--color-gray-700);
  --color-bg-neutral-pressed: var(--color-gray-600);
  --color-bg-neutral-emphasis: var(--color-gray-100);
  --color-bg-neutral-emphasis-hovered: var(--color-gray-50);
  --color-bg-neutral-emphasis-pressed: var(--color-white);

  --color-bg-success: var(--color-green-800);
  --color-bg-success-hovered: var(--color-green-700);
  --color-bg-success-pressed: var(--color-green-600);
  --color-bg-success-emphasis: var(--color-green-300);
  --color-bg-success-emphasis-hovered: var(--color-green-200);
  --color-bg-success-emphasis-pressed: var(--color-green-100);

  --color-bg-warning: var(--color-yellow-800);
  --color-bg-warning-hovered: var(--color-yellow-700);
  --color-bg-warning-pressed: var(--color-yellow-600);
  --color-bg-warning-emphasis: var(--color-yellow-300);
  --color-bg-warning-emphasis-hovered: var(--color-yellow-200);
  --color-bg-warning-emphasis-pressed: var(--color-yellow-100);

  --color-bg-danger: var(--color-red-800);
  --color-bg-danger-hovered: var(--color-red-700);
  --color-bg-danger-pressed: var(--color-red-600);
  --color-bg-danger-emphasis: var(--color-red-300);
  --color-bg-danger-emphasis-hovered: var(--color-red-200);
  --color-bg-danger-emphasis-pressed: var(--color-red-100);

  --color-bd-normal: var(--color-gray-600);
  --color-bd-subtle: var(--color-gray-700);
  --color-bd-hovered: var(--color-gray-500);
  --color-bd-invalid: var(--color-red-300);

  --color-link: var(--color-blue-200);
  --color-link-hovered: var(--color-blue-300);
  --color-link-pressed: var(--color-blue-400);
}
